<div class="col-lg-6 mx-lg-auto">
<div class="card shadow">
<div class="card-header">
<h2 class="card-title "> Review Details</h2>
</div>
<div class="card-body">

<p>
    <strong>Title:</strong>
    <%= @review.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @review.description %>
  </p>
  Created at : <%= @review.created_at.strftime("%B %d %Y ,%l:%M%P") %>
  <br/>
  Written by Employee Id : <%=@review.employee_id%>
  <br/>

<br/>
<br/>
<br/>
<div>
  <%= button_to "Destroy this review", @review, method: :delete, class:"btn btn-danger btn-sm"%>
</div>
</div>
</div>
</div>

